<web-app>
    <servlet>
        <servlet-name>myspringdispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlrt-mapping>
        <servlet-name>myspringdispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlrt-mapping>
</web-app>